<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /site/admin/

# Handle specific backend URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ custom-pages/$1/$2.php [L]

# Handle specific backend URL - one level
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ custom-pages/$1.php [L]

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/.]+)$ $1.php [L]

# Redirect .php URLs to clean URLs
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
RewriteRule ^ /site/admin/%1 [R=301,L]



ErrorDocument 404 /site/404.php
</IfModule>
